.user-component {
  display: flex;
}
.user-component {
  justify-content: space-between;
  margin-bottom: 30px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: var(--gray);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  display: flex;
  color: var(--gray);
  flex-direction: column;
  align-items: center;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}
