.grid {
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template:
    [header-start] "header header header header" 1fr [header-end]
    [content-start] "content content content nav" 2fr [content-end]
    [footer-start] "footer footer footer footer" 1fr [footer-end]/ 1fr 1fr 1fr 1fr;
}
.header {
  background-color: #2ecc71;
  grid-column: span 4;
  grid-area: header;
}

.content {
  background-color: #3498db;
  grid-column: first-line / fourth-line;
  grid-row: sexy-line 1 / sexy-line 3;
  grid-area: content;
}

.nav {
  background-color: #8e44ad;
  grid-row: span 2;
  grid-area: nav;
}
.footer {
  background-color: coral;
  grid-column: span 4;
  grid-area: footer;
}
