/* https://www.notion.so/hamzzi/2-1-Life-Before-Grid-191994439b6c4e878a640b71ac815cf1 */
.father {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.child {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  align-content: space-around;
  margin-bottom: 2px;
}
