.status-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-three-quarters {
  margin-right: 5px;
}
.status-bar__column .fa-bolt {
  margin-right: 5px;
}
